# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=videomanager

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# API
DATABASE_URL=postgresql://user:password@db/videomanager
REDIS_URL=redis://redis:6379
